@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #f8f9fa;
    /* Light Gray background */
    font-family: "Open Sans", serif;
}

.login-box {



    border-radius: 8px;

    /* background-color: white; */
}

.login-form {
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    /* Adjust logo size */
}

.welcome-back {
   
    text-align: center;
    margin-bottom: 10px;
    color: #343a40;
    font-weight: boldl;
    /* Dark gray */
}

.enter-details {
    text-align: center;
    margin-bottom: 20px;
    color: #6c757d;
    /* Gray */
}

.form-group label {
    font-weight: 500;
    color: #343a40;
}

.btn-primary {
    background-color: #4B0082;
    /* Dark Purple */
    border-color: #4B0082;
}

.btn-primary:hover {
    background-color: #3A0068;
    /* Darker Purple */
    border-color: #3A0068;
}


.btn-accent {
    color: white;
    background-color: rgb(255, 157, 0);
    border-color: rgb(255, 157, 0);
    border-radius: 50px;

}

.btn-accent:hover {
    background-color: rgb(204, 126, 0);
    border-color: rgb(204, 126, 0);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.illustration {
    max-width: 100%;
    height: auto;
}

.illustration-box {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
}